<!DOCTYPE html>
<html>
<head>
<title>Be More Adaptive Database</title>
</head>
<style>
  h1 {
            text-align: center;
            font-family:sofia-pro;
            font-weight: 600;
            color: #0B8C99;
            font-size: 40px;
          }
  table, th, td {
         border: 1px solid #0B8C99;
         }
</style>
<body>
  <img src="<%= asset_path("2019_FB_Banner.jpg")%>" alt="Be More Adaptive Logo">
  <h1>Adaptive Database</h1>
  <table>
    <tr>
      <th>Organization</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Organization URL</th>
    </tr>
    <tr>
      <td>Adaptive Sports and Recreation</td>
      <td>1475 West Gray St. </td>
      <td>Houston</td>
      <td>TX</td>
      <td>77019</td>
      <td>Organization URL</td> 
    </tr>
    <tr>
      <td>Adaptive Sports for Kids</td>
      <td>P.O. Box 332</td>
      <td>Nederland</td>
      <td>TX</td>
      <td>77627</td>
      <td>http://www.adaptivesportsforkids.org/</td> 
    </tr>
  </table>
</body>
</html> 